*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    
}

.btns-container{
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 500px;
    border-radius: 15px ;
    align-items: center;
}

.btns-container button{
    padding: 10px;
    width: 200px;
    border: none;
    background: #fff;
    border-radius: 15px;
    
}

.fira-sans{
    font-family: fira sans;
    
}

.times-new-roman{
    font-family: 'Times New Roman', Times, serif;
}

.lucida-sans{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.josefi-sans{
    font-family: josefin sans;
}

.fonts-options{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    display: block;
    position: absolute;
    background-color: #ccc;
    padding: 10px;
    border-radius: 15px;
}

ul li a{
    font-size: 13px;
    font-weight: 700;
}

.fonts-option-on{
    visibility: visible;
}

#close-btn{
    background-color: transparent;
    width: 20px;
    position: absolute;
    right: 0;
    top:0;
}

li{
    cursor: pointer;
    margin: 10px;
}

@media screen and (min-width:768px){

    .btns-container{
        flex-direction: row;
    }
    /* .fonts-options{
        top:350px;
        left: 400px;
    } */
}